<div class="large-8 columns">
	<div class="row">
		<div class="large-4 large-12 columns">
			<h1 class="subheader"><large>Piñatas</h1></large>
			
			<%= image_tag "finn.jpg" %>
			<%= image_tag "jake.jpg" %>
			
			<h3 class="subheader">Piñatas can be custom made to order. Contact us for a quote on a custom piñata.</h3>