<div class="large-8 columns">
	<div class="row">
		<div class="large-4 large-12 columns">
			<h1 class="subheader"><large>Popcorn</h1></large>
			
			<%= image_tag "popcorn.jpg" %>
			
			<h3 class="subheader">Cost: $50, includes machine rental and accessories for up to 50 people</h3>