<div class="large-8 columns">
	<div class="row">
		<div class="large-4 large-12 columns">
			<h1 class="subheader"><large>Tables & Chairs</h1></large>
			
			<%= image_tag "tableschairs.jpg"%>
			
			<h3 class="subheader">We have a variety of tabels & chairs for rental, please contact us for a quote.</h3>